#container1{
	@include background("../img/first.jpg",100vh,100%);
	color: $white;
	&-size{
		@extend %cont-shared;
		nav{
			height: 50px;
			position: relative;
			transform: translateY(0);
			.burger-btn{
					visibility: hidden;
					position:fixed;
					right:20px;
					top: 20px;
					height:32px;
					width:32px;
					z-index: 4;
					i{
						margin: 5px 0;
						height:4px;
						background-color:$white;
						display: block;
						@include transition-ease;
					}
					.open:nth-child(1){
							transform: rotate(45deg) translate(7px, 6px);
					}
					.open:nth-child(2){
						
						background: transparent;
					}
					.open:nth-child(3){
						transform: rotate(-45deg) translate(7px, -6px);
					}
			}
			.nav-title{
				display: inline-block;
				position: absolute;
				bottom: 0;
				left: 0;
				font-weight: $bold-weight;
			}
			.nav-el{
				display: inline-block;
				width: 51%;
				position: absolute;
				bottom: 0;
				right: 0;
				ul li{
					@include transition-ease;
					padding: 0 23px;
					text-align: center;
					text-transform: uppercase;
					&:first-child {
						padding-left: 0;
					}
					&:last-child{
						padding-right: 0;
					}
					a:hover {
						color: $nav-hover;
						@include transition-ease;
					}
					a:after{
						content: '';
						display: block;
						width: 0px;
						margin: 5px auto;;
						height: 2px;
						background: transparent;
						@include transition-ease;
					}
					a:hover:after{
						width: 100%;
						background: $nav-hover;
					}
				}
			}
		}
		.container1-content{
			    text-align: center;
				@extend %absolute;
				height: 560px;
				width: 90%;
			h2{
				font-family: $Kaushan;
				font-size: $h2;
				text-transform: capitalize;
			}
			h1{
				font-family: $Montserat;
				font-weight: $bold-weight;
				font-size: $h1;
				line-height: 140px;
				text-transform: uppercase;
				margin: 50px 0;
			}
			hr {
				background-color: $white;
				@extend %hr-shared;
				margin-bottom: 50px;
			}
			a{
				display: block;
				width: 160px;
				padding: 15px 0;
				background-color: transparent;
				border: 3px solid $white;
				font-size: $h6;
				font-weight: $bold-weight;
				text-transform: uppercase;
				margin: 0 auto;
			}
		}
		.container1-foot {
			font-weight: $bold-weight;
			font-family: $Montserat;
			text-transform: uppercase;
			position: absolute;
			bottom: 0;
			width: 100%;
			div {
				h4{
					font-family: $Montserat;
					margin-bottom: 0;
				}
				display: inline-block;
				width: 22%;
				border-top: 3px solid $white;
				padding: 28px 0;
				margin: 0 1.7%;
				&:first-child{
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	
}


@include media-xl{
	#container1{
		&-size{
			width: 90%;
			nav{
				.nav-el{
					width: 73%;
					text-align: right;
					ul li{
						padding: 0 1.7%;
					}
				}
			}
			.container1-content{
				height: 300px;
				width: 400px;
				h2{
				font-size: $h2_2;
				}
				h1{
					font-size: $h2;
					line-height: 60px;
					margin: 20px 0;
				}
				hr{
					margin-bottom: 40px;
				}
			}
			.container1-foot{
				div{
					padding: 15px 0;
					width: 22%;
					margin: 0 1.6%;
					h4{
						font-size:$h5 ;
					}
				}
			}
		}
	}
}
@include media-md{
	#container1{
		&-size{
			width: 95%;
			nav{
				.burger-btn{
					visibility: visible;
				}
				.nav-el{
					visibility: hidden;
				}
			}
			.container1-foot{
				div{
					padding: 10px 0;
					width: 22.7%;
					margin: 0 1%;
					h4{
						font-size:$h6 ;
					}
				}
			}
		}
	}
}
@include media-xs{
	#container1{
		&-size{
			width: 95%;
			.container1-content{
				height: 300px;
    			width: 270px;
				h2{
				font-size: $h3;
				}
				h1{
					font-size: $h2_2;
					line-height: 50px;
					margin: 30px 0;
				}
				a{
					width: 120px;
					padding:10px 0;
					font-size: $small;
				}
			}
			.container1-foot{
				div{
					padding: 10px 0;
					width: 23.8%;
					margin: 0;
					h4{
						font-size:2.9vw ;
					}
				}
			}
		}
	}
}