#container13{
	background:linear-gradient(to right,$opac, $opac),
	url('../img/Layer20.jpg') no-repeat center center;
	background-size: cover;
	padding: 7vh 0;
	color: $hr;
	&-size{
		text-align: center;	
		hr{
			@extend %hr-shared;
			margin:20px auto;
		}
		h4{
			font-family: $Montserat;
			text-transform: uppercase;
			font-weight: 700;
			margin-top: 20px;
		}
	}
}	
@include media-xl{
	#container13{
		padding: 5vh 0;
	}
}
@include media-md{
	#container13{
		padding: 3vh 0;
		h4{
			margin:10px 0;
		}
	}
}
@include media-xs{
	#container13{
		h4{
			margin:5px 0;
			font-size: $mid;
		}
		hr{
			margin:10px auto 0 auto;
		}
		img{
			width: 18px;
			height: 24px;
		}
	}
}