
#container10{
	padding: 10vh 0;
	&-size{
		@extend %cont-shared;
		text-align: center;
		width: 100%;
		.block-size{
			width: 1200px;
			margin: 0 auto;
			position: relative;
			h4{
			margin-bottom: 20px ;
			}
			h3 {
				font-weight: $bold-weight;
				text-transform: uppercase;
			}
			hr {
				@extend %hr-shared;
				margin: 40px auto;
			}
			p{
				width: 80%;
				margin:0 auto;
			}
			.carusel-img{
				display: inline-block;
				border-radius: 50%;
				vertical-align: middle;
			}
			.carusel-cont{
				display: inline-block;
				width: 70%;
				text-align: left;
				padding-left: 30px;
				vertical-align: middle;
				h4{
					display: inline-block;
					margin:0 0 0 5px;
				}
				p{
					font-size: $h4;
					font-weight: 300;
					font-style: italic;
					margin:0 0 15px 0;
					width: 100%;
					line-height: 36px;
				}
				hr{
					@extend %hr-shared;
					display: inline-block;
					margin: 0 0 5px 0;
				}
			}
			
			.arr-left{
				@extend %absolute;
				right: unset;
				margin: auto 0;
				transform: rotate(-90deg);
			}
			.arr-right{
				@extend %absolute;
				left: unset;
				transform: rotate(90deg);
			}
		}
		.img-block{
			width: 1920px;
    		height: 780px;
			margin: 80px auto;
			font-size: 0;
			&-item{
				font-size: 1rem;
				width: 25%;
				height: 100%;
				display: inline-block;
				vertical-align: top;
				color: $white;
				#img1{
                    background-image: url("../img/1.jpg"); 						
                    &:hover{
                        background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%),url("../img/1.jpg");							
                    }
				}
				#img2{
					background-image: url("../img/2.jpg") ; 					
					&:hover{
						background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%),url("../img/2.jpg");						
					}
				}
				#img3{
					background-image: url("../img/3.jpg"); 					
					&:hover{
						background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%),url("../img/3.jpg");						
					}
				}
				#img4{
					background-image: url("../img/4.jpg"); 					
					&:hover{
						background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%),url("../img/4.jpg");						
					}
				}
				#img5{
					background-image: url("../img/5.jpg"); 					
					height: 100%;
					&:hover{
						background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%),url("../img/5.jpg");						
					}
				}
				#img6{
					background-image: url("../img/6.jpg"); 					
					&:hover{
						background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%),url("../img/6.jpg");						
					}
				}
				#img7{
					background-image: url("../img/7.jpg") ;
					&:hover{
						background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%),url("../img/7.jpg");						
					}
				}
				.img{
					background-repeat: no-repeat;
					background-position: center center;
					background-size:cover;
					height:50% ;
					position: relative;
					&:hover{
						.hover-content{
							display: block;
						}
					}
				}
				.hover-content{
					display:none;
					@extend %absolute;
					height: 70px;
					h6{
						margin: 15px 0;
					}
					p{
						color: $white;
						font-weight: $light-weight;
						font-style: italic;
					}
				}
			}
		}
	}
}
@include media-xxl{
	#container10{
		&-size{
			.img-block{
				width: 100%;
				height: 40vw;
			}
			
		}
	}
}
@include media-xl{
	#container10{
		&-size{
			width: 100%;
			.block-size{
				width: 90%;
				.carusel-img{
					width: 150px;
				}
				.carusel-cont{
					width: 60%;
					padding-left: 20px;
					p{
						font-size: $mid;
						line-height: 25px;
					}
				}
			}
			.img-block-item{
				.hover-content{					
					height: 70px;
					img {
						width: 27px;
					}
					h6{
						font-size: $very-sm;
						margin: 8px 0;
					}
					p{
						font-size: $small;
						line-height: 20px;
					}
				}
			}
		}
	}
}
@include media-md{
	#container10{
		&-size{
			.block-size{
				width: 95%;
				.carusel-img{
					width: 120px;
				}
				.carusel-cont{
					padding-left: 15px;
					p{
						font-size: $h6;
						line-height: 20px;
					}
					h4{
						font-size: $h5;
					}
				}
			}
			.img-block-item{
				.hover-content{					
					height: 70px;
					img {
						width: 20px;
					}
					h6{
						font-size: 10px;
						margin: 4px 0;
					}
					p{
						font-size: 11px;
						line-height: 18px;
					}
				}
			}
		}
	}
}
@include media-xs{
	#container10{
		&-size{
			.block-size{
				.carusel-img{
					width:30%;
				}
				.carusel-cont{
					padding-left: 0;
					width: 70%;
					p{
						margin-top: 15px;
					}
				}
			}
			.img-block{
				height: 100%;
				&-item{
					width: 50%;
					height: 350px;
				}
			}
		}
	}
}
