#container4{
	padding: 13vh 0;
	&-size{
		@extend %cont-shared;
		text-align: center;
		h4{
			margin-bottom: 20px ;
		}
		h3 {
			font-weight: $bold-weight;
			text-transform: uppercase;
		}
		hr {
			@extend %hr-shared;
			margin: 50px auto;
		}
		.container4-hr{
				width: 100%;
				height: 1px;
				background-color: $hr2;
			}
		.service_row{
			width: 100%;
			&-item{
				text-align: left;
				display: inline-block;
				width: 28%;
				margin: 0 2.5%;
				vertical-align: top;
				img{
					float: left;
				}
				.item-content{
					float: right;
					width: 85%;
				}
				h6 {
					margin-bottom: 5px;
				}
			}
		}
	}
}
@include media-lg{
	#container4{
		&-size{
			.service_row{
				&-item{
					width: 31%;
					&:first-child{
						margin-left: 0;
					}
					&:last-child{
						margin-right: 0;
					}
					margin: 0 1%;
					.item-content{
						width: 80%;
					}
				}
		}
		}
	}
}