#container7{
	background-color: $bg2;
	padding: 8vh 0;
	&-size{
		@extend %cont-shared;
		text-align: center;
		.c7-img{
			display: inline-block;
			border: 3px solid $bg;
			padding:25px;
			vertical-align: middle;
		}
		.c7-cont{
			display: inline-block;
			width: 70%;
			text-align: left;
			padding-left: 15px;
			vertical-align: middle;
			h4{
				display: inline-block;
				margin-left: 5px;
				margin-bottom: 0;
			}
			p{
				font-size: $h4;
				margin-bottom: 15px;
				line-height: 36px;
			}
		}
		hr{
			@extend %hr-shared;
			display: inline-block;
			margin: 0;
			vertical-align: middle
		}
		.arr-left{
			@extend %absolute;
			right: unset;
			margin: auto 0;
			transform: rotate(-90deg);
		}
		.arr-right{
			@extend %absolute;
			left: unset;
			margin: auto 0;
			transform: rotate(90deg);
		}
	}
}
@include media-xl{
	#container7{
		&-size{
			width: 90%;
			.c7-img{
				padding: 30px;
			}
			.c7-cont{
				p{
					font-size: $mid;
    				margin-bottom: 10px;
    				line-height: 25px;
				}
			}
		}
	}
}
@include media-md{
	#container7{
		padding: 5vh 0;
		&-size{
			width: 95%;
			.c7-img{
				padding: 15px;
				img{
					width: 45px;
				}
			}
			.c7-cont{
				p{
					font-size: $small;
    				line-height: 20px;
				}
				h4{
					font-size: $h5;
				}
			}
		}
	}
}
@include media-xs{
	#container7{
		&-size{
			width: 95%;
			.c7-img{
				padding: 10px;
				margin: 0 auto 10px auto;
				img{
					width: 35px;
				}
			}
			.c7-cont{
				display: block;
				width: 70%;
				margin: 0 auto;
				padding-left: 0;
				p{
					font-size: $small;
    				line-height: 18px;
				}
				h4{
					font-size: $h6;
				}
			}
		}
	}
}