/* Colors */
$white:#ffffff;
$black:#333333;
$nav-hover:#fce38a;
$hr:#f38181;
$bg:#95e1d3;
$bg2:#f8f8f8;
$p:#999999;
$hr2:#e5e5e5;
$opac:#fffdfde3;
$mogo:#cccccc;
$input-bord:#e7e7e7;

/* Weights */
$light-weight:    300;
$normal-weight:   400;
$bold-weight:     700;

/* Font family */
$Kaushan:'Kaushan Script', cursive;
$Montserat:'Montserrat', sans-serif;
$roboto:'Roboto', sans-serif;