#container14{
	padding: 7vh 0;
	background-color: $bg2;
	position: relative;
	&-size{
		@extend %cont-shared;
		padding: 2vh 0;
		font-size: 0;
		.mogo-cont{
			display: inline-block;
			width: 41%;
			font-size: 1rem;
			padding-right: 30px;
			vertical-align: top;
			h2{
				font-size: $h2_2;
				font-weight: $bold-weight;
				color: $mogo;
			}
			h5{
				font-weight: $bold-weight;
				font-size: $mid;
				span{
					font-size: $very-sm;
				}
			}
			hr{
				margin: 20px 0;
				background-color: $hr2;
				height: 1px;
				border: none;
			}
			.soc-p{
				margin-top: 0;
				span:first-child{
					margin-left: 20px;
				}
			}
			p{
				margin: 30px 0;
			}
		}
		.blogs-cont{
			display: inline-block;
			width: 36%;
			font-size: 1rem;
			vertical-align: top;
			padding-right: 30px;
			h6{
				margin: 15px 0;
			}
			&-item{
				width: 100%;
				float: left;
				margin: 14px 0;
				&:last-child {
					margin-bottom: 0;
				}
				img{
					float: left;
				}
				.blog-content{
					float: left;
					width: 67%;
					padding-left: 20px;
					h6{
						margin-bottom: 0;
						font-size: $very-sm;
						line-height: 18px;
					}
					p{
						font-size: $small;
					}
				}
			}
		}
		.instagram-cont{
			display: inline-block;
			width: 23%;
			font-size: 1rem;
			vertical-align: top;
			p{
				font-size: $small;
				line-height: 24px;
			}
			h6{
				margin: 15px 0;
			}
			&-img{
				margin: 25px 0 10px 0;
			}
		}
	}
	.footer {
		text-align: center;
		border-top: 1px solid $hr2;
		padding: 15px 0;
		@extend %absolute;
		top: unset;
		width: 1200px;
		h6{
			text-transform: unset;
		}
		span{
			color: $hr;
		}
	}
}
@include media-xl{
	.hide{
		display:none;
	}
	#container14{
		&-size{
			width: 90%;
			.blogs-cont{
				padding-right: 20px;
				h6{
					margin: 15px 0;
				}
				&-item{
					margin-bottom: 35px;
					.blog-content{
						width: 70%;
						padding-left:10px;
						h6{
							margin-top: 0;
						}
					}
					img{
						width: 87px;
    					height: 65px;
					}
				}
			}
		}
		.footer {
			padding: 15px 0;
			width: 100%;
		}
	}
}
@include media-lg{
	#container14{
		&-size{
			text-align: center;
			.mogo-cont{
				width: 364px;
				display: block;
				margin:25px auto;
				padding-right: 0;
			}
			.blogs-cont{
				width: 300px;
				display: block;
				margin:25px auto;
				height: 364px;
				padding-right: 0;
				text-align: left;
			}
			.instagram-cont{
				width: 300px;
				display: block;
				margin:25px auto;
				&-img{
					img{
						width: 32%;
					}
				}
				.hide{
					display: inline-block;
				}
			}

		}
		}
	}
@include media-lg{
	#container14{
		&-size{
			width: 95%;
			.mogo-cont{
				width: 90%;
			}
			.blogs-cont{
				width: 90%;
			}
			.instagram-cont{
				width: 90%;
			}
		}
	}
}
