/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* MY CODE */
/* Colors */
/* Weights */
/* Font family */
/*font size */
#container1-size, #container2-size, #container3-size, #container4-size, #container5-size, #container6-size, #container7-size, #container8-size, #container9-size, #container10-size, #container11-size, #container12-size, #container14-size {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

#container1-size .container1-content hr, #container2-size hr, #container4-size hr, #container5-size hr, #container6-size hr, #container7-size hr, #container8-size hr, #container10-size .block-size hr, #container10-size .block-size .carusel-cont hr, #container11-size hr, #container12-size hr, #container13-size hr {
  height: 3px;
  width: 60px;
  background-color: #f38181;
  border: none;
}

#container2-size .img-block-item .effect-cont, #container8-size .c8-img-row-item-block .effect-cont, #container1-size .container1-content, #container7-size .arr-left, #container7-size .arr-right, #container10-size .block-size .arr-left, #container10-size .block-size .arr-right, #container10-size .img-block-item .hover-content, #container11-size, #container14 .footer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#container2-size .img-block-item .effect, #container8-size .c8-img-row-item-block .effect {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

#container2-size .img-block-item .effect:hover, #container8-size .c8-img-row-item-block .effect:hover {
  top: -20px;
  left: -20px;
}

#container2-size .img-block-item .effect:hover .effect-cont, #container8-size .c8-img-row-item-block .effect:hover .effect-cont {
  display: block;
}

#container2-size .img-block-item .effect-cont, #container8-size .c8-img-row-item-block .effect-cont {
  display: none;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}

#container1 {
  background: url("../img/first.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #ffffff;
}

#container1-size nav {
  height: 50px;
  position: relative;
}

#container1-size nav .burger-btn {
  visibility: hidden;
  position: fixed;
  right: 20px;
  top: 20px;
  height: 32px;
  width: 32px;
  z-index: 4;
}

#container1-size nav .burger-btn i {
  margin: 5px 0;
  height: 4px;
  background-color: #ffffff;
  display: block;
}

#container1-size nav .burger-btn .open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 8px);
}

#container1-size nav .burger-btn .open:nth-child(2) {
  background: transparent;
}

#container1-size nav .burger-btn .open:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -10px);
}

#container1-size nav .nav-title {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
}

#container1-size nav .nav-el {
  display: inline-block;
  width: 51%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#container1-size nav .nav-el ul li {
  padding: 0 23px;
  text-align: center;
  text-transform: uppercase;
}

#container1-size nav .nav-el ul li:first-child {
  padding-left: 0;
}

#container1-size nav .nav-el ul li:last-child {
  padding-right: 0;
}

#container1-size nav .nav-el ul li a:hover {
  color: #fce38a;
}

#container1-size .container1-content {
  text-align: center;
  height: 560px;
  width: 90%;
}

#container1-size .container1-content h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  text-transform: capitalize;
}

#container1-size .container1-content h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 140px;
  text-transform: uppercase;
  margin: 50px 0;
}

#container1-size .container1-content hr {
  background-color: #ffffff;
  margin-bottom: 50px;
}

#container1-size .container1-content a {
  display: block;
  width: 160px;
  padding: 15px 0;
  background-color: transparent;
  border: 3px solid #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

#container1-size .container1-foot {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#container1-size .container1-foot div {
  display: inline-block;
  width: 22%;
  border-top: 3px solid #ffffff;
  padding: 28px 0;
  margin: 0 1.7%;
}

#container1-size .container1-foot div h4 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}

#container1-size .container1-foot div:first-child {
  margin-left: 0;
}

#container1-size .container1-foot div:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1300px) {
  #container1-size {
    width: 90%;
  }
  #container1-size nav .nav-el {
    width: 73%;
    text-align: right;
  }
  #container1-size nav .nav-el ul li {
    padding: 0 1.7%;
  }
  #container1-size .container1-content {
    height: 300px;
    width: 400px;
  }
  #container1-size .container1-content h2 {
    font-size: 46px;
  }
  #container1-size .container1-content h1 {
    font-size: 72px;
    line-height: 60px;
    margin: 20px 0;
  }
  #container1-size .container1-content hr {
    margin-bottom: 40px;
  }
  #container1-size .container1-foot div {
    padding: 15px 0;
    width: 22%;
    margin: 0 1.6%;
  }
  #container1-size .container1-foot div h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  #container1-size {
    width: 95%;
  }
  #container1-size nav .burger-btn {
    visibility: visible;
  }
  #container1-size nav .nav-el {
    visibility: hidden;
  }
  #container1-size .container1-foot div {
    padding: 10px 0;
    width: 22.7%;
    margin: 0 1%;
  }
  #container1-size .container1-foot div h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container1-size {
    width: 95%;
  }
  #container1-size .container1-content {
    height: 300px;
    width: 270px;
  }
  #container1-size .container1-content h2 {
    font-size: 30px;
  }
  #container1-size .container1-content h1 {
    font-size: 46px;
    line-height: 50px;
    margin: 30px 0;
  }
  #container1-size .container1-content a {
    width: 120px;
    padding: 10px 0;
    font-size: 13px;
  }
  #container1-size .container1-foot div {
    padding: 10px 0;
    width: 23.8%;
    margin: 0;
  }
  #container1-size .container1-foot div h4 {
    font-size: 2.9vw;
  }
}

#container2 {
  padding: 10vh 0;
}

#container2-size {
  text-align: center;
}

#container2-size h4 {
  margin-bottom: 20px;
}

#container2-size h3 {
  font-weight: 700;
  text-transform: uppercase;
}

#container2-size p {
  width: 80%;
  margin: 0 auto;
}

#container2-size hr {
  background-color: #f38181;
  margin: 40px auto;
}

#container2-size .img-block {
  width: 100%;
  margin-top: 80px;
}

#container2-size .img-block-item {
  position: relative;
  background-color: #95e1d3;
  display: inline-block;
  width: 380px;
  height: 250px;
  margin: 0 1%;
}

#container2-size .img-block-item:first-child {
  margin-left: 0;
}

#container2-size .img-block-item:last-child {
  margin-right: 0;
}

#container2-size .img-block-item #item1 {
  background: url("../img/story3.jpg") no-repeat center center;
  background-size: cover;
}

#container2-size .img-block-item #item1:hover {
  background: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/story3.jpg");
  background-size: cover;
}

#container2-size .img-block-item #item2 {
  background: url("../img/story1.jpg") no-repeat center center;
  background-size: cover;
}

#container2-size .img-block-item #item2:hover {
  background: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/story1.jpg");
  background-size: cover;
}

#container2-size .img-block-item #item3 {
  background: url("../img/story2.jpg") no-repeat center center;
  background-size: cover;
}

#container2-size .img-block-item #item3:hover {
  background: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/story2.jpg");
  background-size: cover;
}

#container2-size .img-block-item .effect-cont {
  height: 55px;
}

#container2-size .img-block-item .effect-cont img {
  margin: 5px auto;
  display: block;
}

@media screen and (max-width: 1300px) {
  #container2-size {
    width: 90%;
  }
  #container2-size .img-block {
    margin-top: 40px;
  }
  #container2-size .img-block-item {
    width: 30%;
    height: 20vw;
    margin: 0 2.1%;
  }
  #container2-size .img-block-item .effect-cont {
    font-size: 13px;
  }
  #container2-size .img-block-item .effect-cont img {
    width: 30px;
    height: 24px;
  }
}

@media screen and (max-width: 768px) {
  #container2-size .img-block-item {
    margin: 0 2%;
  }
  #container2-size .img-block-item .effect-cont {
    font-size: 12px;
  }
  #container2-size .img-block-item .effect-cont img {
    width: 26px;
    height: 20px;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container2-size {
    width: 95%;
  }
  #container2-size .img-block {
    margin-top: 40px;
  }
  #container2-size .img-block-item {
    width: 80%;
    height: 50vw;
    margin: 10px auto;
  }
  #container2-size .img-block-item .effect-cont {
    font-size: initial;
    height: 56px;
  }
  #container2-size .img-block-item .effect-cont img {
    width: initial;
    height: initial;
    margin-bottom: 10px;
  }
}

#container3 {
  background-color: #95e1d3;
  color: #ffffff;
}

#container3-size {
  text-align: center;
  text-transform: uppercase;
}

#container3-size .box {
  display: inline-block;
  width: 19.7%;
  border-left: 1px solid #ffffff;
  height: 100%;
  padding: 8vh 0;
  vertical-align: top;
}

#container3-size .box:last-child {
  border-right: 1px solid #ffffff;
}

#container3-size .box h2 {
  font-weight: 700;
  margin: 10px 0;
}

@media screen and (max-width: 1300px) {
  #container3 {
    height: 140px;
  }
  #container3-size {
    width: 90%;
  }
  #container3-size .box {
    width: 19.5%;
    padding: 20px 0;
    vertical-align: top;
  }
  #container3-size .box h2 {
    font-size: 46px;
  }
}

@media screen and (max-width: 768px) {
  #container3 {
    height: 110px;
  }
  #container3-size .box {
    width: 19%;
    padding: 20px 5px;
  }
  #container3-size .box h2 {
    font-size: 30px;
  }
  #container3-size .box h6 {
    font-size: 12px;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container3 {
    height: 80px;
  }
  #container3-size {
    width: 100%;
  }
  #container3-size .box {
    width: 18.8%;
    padding: 10px 0;
  }
  #container3-size .box h2 {
    font-size: 24px;
    margin: 5px 0;
  }
  #container3-size .box h6 {
    font-size: 10px;
  }
}

#container4 {
  padding: 10vh 0;
}

#container4-size {
  text-align: center;
}

#container4-size h4 {
  margin-bottom: 20px;
}

#container4-size h3 {
  font-weight: 700;
  text-transform: uppercase;
}

#container4-size hr {
  margin: 50px auto;
}

#container4-size .container4-hr {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

#container4-size .container4-hr-resp {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  display: none;
}

#container4-size .service_row-item {
  text-align: left;
  display: inline-block;
  width: 28%;
  margin: 0 2.5%;
  vertical-align: top;
}

#container4-size .service_row-item img {
  float: left;
}

#container4-size .service_row-item .item-content {
  float: right;
  width: 85%;
}

#container4-size .service_row-item h6 {
  margin-bottom: 5px;
}

@media screen and (max-width: 1300px) {
  #container4-size {
    width: 90%;
  }
  #container4-size .service_row-item {
    width: 30%;
    margin: 0 1%;
  }
  #container4-size .service_row-item img {
    width: 30px;
  }
  #container4-size .service_row-item:first-child {
    margin-left: 0;
  }
  #container4-size .service_row-item:last-child {
    margin-right: 0;
  }
  #container4-size .service_row-item .item-content {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  #container4-size .container4-hr {
    display: none;
  }
  #container4-size .container4-hr-resp {
    display: block;
  }
  #container4-size .service_row-item {
    width: 47%;
    margin: 0 1%;
  }
  #container4-size .service_row-item img {
    width: 30px;
  }
  #container4-size .service_row-item:first-child {
    margin-left: 0;
  }
  #container4-size .service_row-item:last-child {
    margin-right: 0;
  }
  #container4-size .service_row-item .item-content {
    width: 80%;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container4-size {
    width: 95%;
  }
  #container4-size .container4-hr-resp {
    margin: 20px 0;
  }
  #container4-size .service_row-item {
    width: 90%;
    margin: 20px 0;
  }
  #container4-size .service_row-item .item-content {
    width: 80%;
  }
}

#container5 {
  background: linear-gradient(to right, #fffdfde3, #fffdfde3), url("../img/Layer4dem.jpg") no-repeat center center;
  background-size: cover;
  height: 900px;
  width: 100%;
  position: relative;
}

#container5-size {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  height: initial;
}

#container5-size h4 {
  margin-bottom: 20px;
}

#container5-size h3 {
  font-weight: 700;
  text-transform: uppercase;
}

#container5-size hr {
  margin: 40px auto;
}

#container5-size .ipad {
  background: url("../img/ipad.png") no-repeat center top;
  background-size: cover;
  height: 585px;
  width: 475px;
  margin: 0 auto;
}

#container5-size .iphone {
  background: url("../img/iphone.png") no-repeat center top;
  background-size: cover;
  height: 455px;
  width: 205px;
  position: absolute;
  right: 250px;
  bottom: -70px;
}

@media screen and (max-width: 1300px) {
  #container5 {
    height: 550px;
  }
  #container5 #container5-size {
    width: 475px;
  }
  #container5 #container5-size .ipad {
    background-position: center 10px;
    height: 325px;
    width: 275px;
  }
  #container5 #container5-size .iphone {
    height: 245px;
    width: 145px;
    right: 40px;
    bottom: -40px;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container5 {
    height: 450px;
  }
  #container5 #container5-size {
    width: 320px;
  }
  #container5 #container5-size .ipad {
    height: 255px;
    width: 205px;
  }
  #container5 #container5-size .iphone {
    height: 195px;
    width: 115px;
    right: 10px;
    bottom: -40px;
  }
}

#container6 {
  padding: 10vh 0;
}

#container6-size {
  text-align: center;
}

#container6-size h4 {
  margin-bottom: 20px;
}

#container6-size h3 {
  font-weight: 700;
  text-transform: uppercase;
}

#container6-size hr {
  margin: 40px auto;
}

#container6-size p {
  width: 80%;
  margin: 0 auto 50px auto;
}

#container6-size .row-block {
  width: 100%;
  height: 400px;
  position: relative;
}

#container6-size .row-block .img-block {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#container6-size .row-block .info-block {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  text-align: left;
}

#container6-size .row-block .info-block h6 {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  line-height: 38px;
  margin-left: 10px;
}

#container6-size .row-block .info-block img {
  display: inline-block;
}

#container6-size .row-block .info-block .arr {
  margin-right: 15px;
  position: absolute;
  right: 0;
  top: 26px;
}

#container6-size .row-block .info-block .item {
  border: 1px solid #e5e5e5;
  background-color: transparent;
  margin-left: 20px;
  padding: 15px;
  position: relative;
}

#container6-size .row-block .info-block .text {
  height: 170px;
  margin: 0 0 10px 20px;
  border: 1px solid #e5e5e5;
  border-top: none;
  overflow-y: scroll;
}

#container6-size .row-block .info-block .text p {
  width: 100%;
  margin-bottom: 0;
  padding: 10px;
}

#container6-size .row-block .info-block .text2 {
  margin: 0 0 10px 20px;
}

@media screen and (max-width: 1300px) {
  #container6-size {
    width: 90%;
  }
  #container6-size .row-block {
    height: 300px;
  }
  #container6-size .row-block .img-block img {
    width: 100%;
    height: 100%;
  }
  #container6-size .row-block .info-block .item {
    padding: 4px 10px;
  }
  #container6-size .row-block .info-block .item .arr {
    width: 20px;
    height: 12px;
  }
  #container6-size .row-block .info-block .item img {
    width: 25px;
  }
  #container6-size .row-block .info-block .item h6 {
    vertical-align: super;
  }
  #container6-size .row-block .info-block .item .arr {
    top: 15px;
  }
  #container6-size .row-block .info-block .text {
    height: 135px;
  }
}

@media screen and (max-width: 768px) {
  #container6-size .row-block {
    height: initial;
    width: 80%;
    margin: 0 auto;
  }
  #container6-size .row-block .img-block {
    position: relative;
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
  }
  #container6-size .row-block .img-block img {
    width: 100%;
    height: 100%;
  }
  #container6-size .row-block .info-block {
    position: relative;
    width: 100%;
    height: 50%;
  }
  #container6-size .row-block .info-block .item {
    margin-left: 0;
  }
  #container6-size .row-block .info-block .text {
    margin-left: 0;
  }
  #container6-size .row-block .info-block .text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container6-size {
    width: 95%;
  }
  #container6-size .row-block {
    width: 90%;
  }
  #container6-size .row-block .info-block .item {
    padding: 0 5px;
  }
}

#container7 {
  background-color: #f8f8f8;
  padding: 8vh 0;
}

#container7-size {
  text-align: center;
}

#container7-size .c7-img {
  display: inline-block;
  border: 3px solid #95e1d3;
  padding: 25px;
  vertical-align: middle;
}

#container7-size .c7-cont {
  display: inline-block;
  width: 70%;
  text-align: left;
  padding-left: 15px;
  vertical-align: middle;
}

#container7-size .c7-cont h4 {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 0;
}

#container7-size .c7-cont p {
  font-size: 24px;
  margin-bottom: 15px;
  line-height: 36px;
}

#container7-size hr {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

#container7-size .arr-left {
  right: unset;
  margin: auto 0;
  transform: rotate(-90deg);
}

#container7-size .arr-right {
  left: unset;
  margin: auto 0;
  transform: rotate(90deg);
}

@media screen and (max-width: 1300px) {
  #container7-size {
    width: 90%;
  }
  #container7-size .c7-img {
    padding: 30px;
  }
  #container7-size .c7-cont p {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 25px;
  }
}

@media screen and (max-width: 768px) {
  #container7 {
    padding: 5vh 0;
  }
  #container7-size {
    width: 95%;
  }
  #container7-size .c7-img {
    padding: 15px;
  }
  #container7-size .c7-img img {
    width: 45px;
  }
  #container7-size .c7-cont p {
    font-size: 13px;
    line-height: 20px;
  }
  #container7-size .c7-cont h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container7-size {
    width: 95%;
  }
  #container7-size .c7-img {
    padding: 10px;
    margin: 0 auto 10px auto;
  }
  #container7-size .c7-img img {
    width: 35px;
  }
  #container7-size .c7-cont {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-left: 0;
  }
  #container7-size .c7-cont p {
    font-size: 13px;
    line-height: 18px;
  }
  #container7-size .c7-cont h4 {
    font-size: 14px;
  }
}

#container8 {
  padding: 10vh 0;
}

#container8-size {
  text-align: center;
}

#container8-size h4 {
  margin-bottom: 20px;
}

#container8-size h3 {
  font-weight: 700;
  text-transform: uppercase;
}

#container8-size p {
  width: 80%;
  margin: 0 auto;
}

#container8-size h6 {
  margin: 20px 0 10px 0;
}

#container8-size hr {
  background-color: #f38181;
  margin: 40px auto;
}

#container8-size .c8-img-row {
  width: 100%;
  margin-top: 80px;
}

#container8-size .c8-img-row-item {
  width: 370px;
  height: 100%;
  display: inline-block;
  margin: 0 1.7%;
}

#container8-size .c8-img-row-item:first-child {
  margin-left: 0;
}

#container8-size .c8-img-row-item:last-child {
  margin-right: 0;
}

#container8-size .c8-img-row-item .prof {
  font-weight: 300;
  font-style: italic;
}

#container8-size .c8-img-row-item-block {
  position: relative;
  background-color: #95e1d3;
  width: 100%;
  height: 470px;
  margin-bottom: 20px;
}

#container8-size .c8-img-row-item-block #c8-item1 {
  background: url("../img/men1.jpg") no-repeat center center;
  background-size: cover;
}

#container8-size .c8-img-row-item-block #c8-item1:hover {
  background: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/men1.jpg");
  background-size: cover;
}

#container8-size .c8-img-row-item-block #c8-item2 {
  background: url("../img/men2.jpg") no-repeat center center;
  background-size: cover;
}

#container8-size .c8-img-row-item-block #c8-item2:hover {
  background: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/men2.jpg");
  background-size: cover;
}

#container8-size .c8-img-row-item-block #c8-item3 {
  background: url("../img/men3.jpg") no-repeat center center;
  background-size: cover;
}

#container8-size .c8-img-row-item-block #c8-item3:hover {
  background: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/men3.jpg");
  background-size: cover;
}

#container8-size .c8-img-row-item-block .effect-cont {
  height: 40px;
  font-size: 0;
}

#container8-size .c8-img-row-item-block .effect-cont .socImg {
  border-right: 1px solid #f38181;
  font-size: 1rem;
  display: inline-block;
  background-color: #fce38a;
  width: 40px;
  height: 40px;
  font-size: 25px;
  line-height: 42px;
}

#container8-size .c8-img-row-item-block .effect-cont .socImg i {
  color: #f38181;
}

#container8-size .c8-img-row-item-block .effect-cont .socImg:hover {
  background-color: #f38181;
}

#container8-size .c8-img-row-item-block .effect-cont .socImg:hover i {
  color: #ffffff;
}

@media screen and (max-width: 1300px) {
  #container8-size {
    width: 90%;
  }
  #container8-size .c8-img-row {
    margin-top: 80px;
  }
  #container8-size .c8-img-row-item {
    height: 40vw;
    width: 30%;
  }
  #container8-size .c8-img-row-item-block {
    height: 100%;
  }
  #container8-size .c8-img-row-item-block .effect .socImg {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (max-width: 768px) {
  #container8-size {
    width: 90%;
  }
  #container8-size .c8-img-row {
    margin-top: 30px;
    height: 60vw;
  }
  #container8-size .c8-img-row-item {
    vertical-align: middle;
  }
  #container8-size .c8-img-row-item h6 {
    font-size: 13px;
    line-height: 18px;
  }
  #container8-size .c8-img-row-item p {
    font-size: 14px;
    line-height: 20px;
  }
  #container8-size .c8-img-row-item-block .effect .socImg {
    width: 25px;
    height: 25px;
    font-size: 17px;
    line-height: 26px;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container8-size {
    width: 95%;
  }
  #container8-size .c8-img-row {
    width: 60%;
    margin: 0 auto;
    height: 100%;
  }
  #container8-size .c8-img-row-item {
    height: 250px;
    width: 100%;
    margin: 40px 0;
  }
  #container8-size .c8-img-row-item-block {
    height: 100%;
  }
  #container8-size .c8-img-row-item-block .effect .socImg {
    width: 25px;
    height: 25px;
    font-size: 17px;
    line-height: 26px;
  }
}

#container9 {
  padding: 10vh 0;
  background-color: #f8f8f8;
}

#container9-size {
  text-align: center;
}

#container9-size img {
  width: 100%;
}

@media screen and (max-width: 1300px) {
  #container9-size {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  #container9 {
    padding: 7vh 0;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container9 {
    padding: 5vh 0;
  }
  #container9-size {
    width: 95%;
  }
}

#container10 {
  padding: 10vh 0;
}

#container10-size {
  text-align: center;
  width: 100%;
}

#container10-size .block-size {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

#container10-size .block-size h4 {
  margin-bottom: 20px;
}

#container10-size .block-size h3 {
  font-weight: 700;
  text-transform: uppercase;
}

#container10-size .block-size hr {
  margin: 40px auto;
}

#container10-size .block-size p {
  width: 80%;
  margin: 0 auto;
}

#container10-size .block-size .carusel-img {
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
}

#container10-size .block-size .carusel-cont {
  display: inline-block;
  width: 70%;
  text-align: left;
  padding-left: 30px;
  vertical-align: middle;
}

#container10-size .block-size .carusel-cont h4 {
  display: inline-block;
  margin: 0 0 0 5px;
}

#container10-size .block-size .carusel-cont p {
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  margin: 0 0 15px 0;
  width: 100%;
  line-height: 36px;
}

#container10-size .block-size .carusel-cont hr {
  display: inline-block;
  margin: 0 0 5px 0;
}

#container10-size .block-size .arr-left {
  right: unset;
  margin: auto 0;
  transform: rotate(-90deg);
}

#container10-size .block-size .arr-right {
  left: unset;
  transform: rotate(90deg);
}

#container10-size .img-block {
  width: 1920px;
  height: 780px;
  margin: 80px auto;
  font-size: 0;
}

#container10-size .img-block-item {
  font-size: 1rem;
  width: 25%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
}

#container10-size .img-block-item #img1 {
  background-image: url("../img/1.jpg");
}

#container10-size .img-block-item #img1:hover {
  background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/1.jpg");
}

#container10-size .img-block-item #img2 {
  background-image: url("../img/2.jpg");
}

#container10-size .img-block-item #img2:hover {
  background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/2.jpg");
}

#container10-size .img-block-item #img3 {
  background-image: url("../img/3.jpg");
}

#container10-size .img-block-item #img3:hover {
  background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/3.jpg");
}

#container10-size .img-block-item #img4 {
  background-image: url("../img/4.jpg");
}

#container10-size .img-block-item #img4:hover {
  background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/4.jpg");
}

#container10-size .img-block-item #img5 {
  background-image: url("../img/5.jpg");
  height: 100%;
}

#container10-size .img-block-item #img5:hover {
  background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/5.jpg");
}

#container10-size .img-block-item #img6 {
  background-image: url("../img/6.jpg");
}

#container10-size .img-block-item #img6:hover {
  background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/6.jpg");
}

#container10-size .img-block-item #img7 {
  background-image: url("../img/7.jpg");
}

#container10-size .img-block-item #img7:hover {
  background-image: linear-gradient(0deg, #e1cb7bbe 0%, #da7373be 100%), url("../img/7.jpg");
}

#container10-size .img-block-item .img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50%;
  position: relative;
}

#container10-size .img-block-item .img:hover .hover-content {
  display: block;
}

#container10-size .img-block-item .hover-content {
  display: none;
  height: 70px;
}

#container10-size .img-block-item .hover-content h6 {
  margin: 15px 0;
}

#container10-size .img-block-item .hover-content p {
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
}

@media screen and (max-width: 1919px) {
  #container10-size .img-block {
    width: 100%;
    height: 40vw;
  }
}

@media screen and (max-width: 1300px) {
  #container10-size {
    width: 100%;
  }
  #container10-size .block-size {
    width: 90%;
  }
  #container10-size .block-size .carusel-img {
    width: 150px;
  }
  #container10-size .block-size .carusel-cont {
    width: 60%;
    padding-left: 20px;
  }
  #container10-size .block-size .carusel-cont p {
    font-size: 18px;
    line-height: 25px;
  }
  #container10-size .img-block-item .hover-content {
    height: 70px;
  }
  #container10-size .img-block-item .hover-content img {
    width: 27px;
  }
  #container10-size .img-block-item .hover-content h6 {
    font-size: 12px;
    margin: 8px 0;
  }
  #container10-size .img-block-item .hover-content p {
    font-size: 13px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  #container10-size .block-size {
    width: 95%;
  }
  #container10-size .block-size .carusel-img {
    width: 120px;
  }
  #container10-size .block-size .carusel-cont {
    padding-left: 15px;
  }
  #container10-size .block-size .carusel-cont p {
    font-size: 14px;
    line-height: 20px;
  }
  #container10-size .block-size .carusel-cont h4 {
    font-size: 20px;
  }
  #container10-size .img-block-item .hover-content {
    height: 70px;
  }
  #container10-size .img-block-item .hover-content img {
    width: 20px;
  }
  #container10-size .img-block-item .hover-content h6 {
    font-size: 10px;
    margin: 4px 0;
  }
  #container10-size .img-block-item .hover-content p {
    font-size: 11px;
    line-height: 18px;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container10-size .block-size .carusel-img {
    width: 30%;
  }
  #container10-size .block-size .carusel-cont {
    padding-left: 0;
    width: 70%;
  }
  #container10-size .block-size .carusel-cont p {
    margin-top: 15px;
  }
  #container10-size .img-block {
    height: 100%;
  }
  #container10-size .img-block-item {
    width: 50%;
    height: 350px;
  }
}

#container11 {
  background: linear-gradient(to right, #fffdfde3, #fffdfde3), url("../img/Layer12.jpg") no-repeat center center;
  background-size: cover;
  height: 900px;
  width: 100%;
  position: relative;
}

#container11-size {
  text-align: center;
  height: 70%;
}

#container11-size h4 {
  margin-bottom: 20px;
}

#container11-size h3 {
  font-weight: 700;
  text-transform: uppercase;
}

#container11-size hr {
  margin: 40px auto 80px auto;
}

#container11-size .profile-rows {
  font-size: 0;
  margin: 50px 0;
}

#container11-size .profile-rows .profile {
  vertical-align: top;
  font-size: 1rem;
  width: 40%;
  display: inline-block;
  text-align: left;
  margin: 0 5%;
}

#container11-size .profile-rows .profile img {
  border-radius: 50%;
  float: left;
}

#container11-size .profile-rows .profile-content {
  float: left;
  width: 70%;
  padding-left: 30px;
}

#container11-size .profile-rows .profile-content hr {
  margin: 15px 0;
}

@media screen and (max-width: 1300px) {
  #container11 {
    height: initial;
    padding: 10vh 0;
  }
  #container11-size {
    width: 90%;
    position: relative;
    height: 100%;
  }
  #container11-size .profile-rows .profile {
    width: 48%;
    margin: 0 1%;
  }
  #container11-size .profile-rows .profile img {
    width: 100px;
  }
  #container11-size .profile-rows .profile-content {
    width: 69%;
    padding-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  #container11-size .profile-rows {
    margin: 40px 0;
  }
  #container11-size .profile-rows .profile {
    width: 48%;
    margin: 0 1%;
    text-align: center;
  }
  #container11-size .profile-rows .profile img {
    width: 100px;
    float: unset;
    margin-bottom: 10px;
  }
  #container11-size .profile-rows .profile-content {
    width: 90%;
    padding-left: 0;
    margin: 0 auto;
    float: unset;
  }
  #container11-size .profile-rows .profile-content .p {
    text-align: left;
  }
  #container11-size .profile-rows .profile-content hr {
    margin: 15px auto;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container11-size {
    width: 95%;
  }
  #container11-size hr {
    margin-bottom: 40px;
  }
  #container11-size .profile-rows {
    margin: 0;
  }
  #container11-size .profile-rows .profile {
    width: 100%;
    margin: 20px 0;
  }
}

#container12 {
  padding: 10vh 0;
}

#container12-size {
  text-align: center;
}

#container12-size h4 {
  margin-bottom: 20px;
}

#container12-size h3 {
  font-weight: 700;
  text-transform: uppercase;
}

#container12-size hr {
  margin: 40px auto;
}

#container12-size .blog-row {
  text-align: left;
}

#container12-size .blog-row-item {
  width: 30%;
  display: inline-block;
  margin: 0 2.3%;
  vertical-align: top;
}

#container12-size .blog-row-item:first-child {
  margin-left: 0;
}

#container12-size .blog-row-item:last-child {
  margin-right: 0;
}

#container12-size .blog-row-item h6 {
  margin: 15px 0;
}

#container12-size .blog-row-item hr {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 10px 0;
}

#container12-size .blog-row-item .img-cont {
  position: relative;
  height: 220px;
}

#container12-size .blog-row-item .img-cont img {
  width: 100%;
  height: 100%;
}

#container12-size .blog-row-item .img-cont .time {
  text-align: center;
  position: absolute;
  bottom: 40px;
  background-color: #95e1d3;
  padding: 10px;
  left: -15px;
  color: #ffffff;
}

@media screen and (max-width: 1300px) {
  #container12-size {
    width: 90%;
  }
  #container12-size .blog-row-item {
    width: 30%;
    margin: 0 2%;
  }
  #container12-size .blog-row-item .img-cont {
    height: 18vw;
  }
  #container12-size .blog-row-item .img-cont .time {
    bottom: 20px;
  }
  #container12-size .blog-row-item .img-cont .time h3 {
    font-size: 20px;
  }
  #container12-size .blog-row-item .img-cont .time h5 {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  #container12-size .blog-row-item {
    width: 70%;
    margin: 15px auto;
    display: block;
  }
  #container12-size .blog-row-item:first-child {
    margin: 0 auto;
  }
  #container12-size .blog-row-item:last-child {
    margin: 0 auto;
  }
  #container12-size .blog-row-item .img-cont {
    height: 32vw;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container12-size {
    width: 95%;
  }
  #container12-size .blog-row-item {
    width: 80%;
  }
  #container12-size .blog-row-item .img-cont {
    height: initial;
  }
  #container12-size .blog-row-item .img-cont .time {
    bottom: 20px;
  }
  #container12-size .blog-row-item .img-cont .time h3 {
    font-size: 20px;
  }
  #container12-size .blog-row-item .img-cont .time h5 {
    font-size: 15px;
  }
}

#container13 {
  background: linear-gradient(to right, #fffdfde3, #fffdfde3), url("../img/Layer20.jpg") no-repeat center center;
  background-size: cover;
  padding: 7vh 0;
  color: #f38181;
}

#container13-size {
  text-align: center;
}

#container13-size hr {
  margin: 20px auto;
}

#container13-size h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
}

@media screen and (max-width: 1300px) {
  #container13 {
    padding: 5vh 0;
  }
}

@media screen and (max-width: 768px) {
  #container13 {
    padding: 3vh 0;
  }
  #container13 h4 {
    margin: 10px 0;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container13 h4 {
    margin: 5px 0;
    font-size: 18px;
  }
  #container13 hr {
    margin: 10px auto 0 auto;
  }
  #container13 img {
    width: 18px;
    height: 24px;
  }
}

#container14 {
  padding: 7vh 0;
  background-color: #f8f8f8;
  position: relative;
}

#container14-size {
  padding: 2vh 0;
  font-size: 0;
}

#container14-size .mogo-cont {
  display: inline-block;
  width: 41%;
  font-size: 1rem;
  padding-right: 30px;
  vertical-align: top;
}

#container14-size .mogo-cont h2 {
  font-size: 46px;
  font-weight: 700;
  color: #cccccc;
}

#container14-size .mogo-cont h5 {
  font-weight: 700;
  font-size: 18px;
}

#container14-size .mogo-cont h5 span {
  font-size: 12px;
}

#container14-size .mogo-cont hr {
  margin: 20px 0;
  background-color: #e5e5e5;
  height: 1px;
  border: none;
}

#container14-size .mogo-cont .soc-p {
  margin-top: 0;
}

#container14-size .mogo-cont .soc-p span:first-child {
  margin-left: 20px;
}

#container14-size .mogo-cont p {
  margin: 30px 0;
}

#container14-size .blogs-cont {
  display: inline-block;
  width: 36%;
  font-size: 1rem;
  vertical-align: top;
  padding-right: 30px;
}

#container14-size .blogs-cont h6 {
  margin: 15px 0;
}

#container14-size .blogs-cont-item {
  width: 100%;
  float: left;
  margin: 14px 0;
}

#container14-size .blogs-cont-item:last-child {
  margin-bottom: 0;
}

#container14-size .blogs-cont-item img {
  float: left;
}

#container14-size .blogs-cont-item .blog-content {
  float: left;
  width: 67%;
  padding-left: 20px;
}

#container14-size .blogs-cont-item .blog-content h6 {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
}

#container14-size .blogs-cont-item .blog-content p {
  font-size: 13px;
}

#container14-size .instagram-cont {
  display: inline-block;
  width: 23%;
  font-size: 1rem;
  vertical-align: top;
}

#container14-size .instagram-cont p {
  font-size: 13px;
  line-height: 24px;
}

#container14-size .instagram-cont h6 {
  margin: 15px 0;
}

#container14-size .instagram-cont-img {
  margin: 25px 0 10px 0;
}

#container14 .footer {
  text-align: center;
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
  top: unset;
  width: 1200px;
}

#container14 .footer h6 {
  text-transform: unset;
}

#container14 .footer span {
  color: #f38181;
}

@media screen and (max-width: 1300px) {
  .hide {
    display: none;
  }
  #container14-size {
    width: 90%;
  }
  #container14-size .blogs-cont {
    padding-right: 20px;
  }
  #container14-size .blogs-cont h6 {
    margin: 15px 0;
  }
  #container14-size .blogs-cont-item {
    margin-bottom: 35px;
  }
  #container14-size .blogs-cont-item .blog-content {
    width: 70%;
    padding-left: 10px;
  }
  #container14-size .blogs-cont-item .blog-content h6 {
    margin-top: 0;
  }
  #container14-size .blogs-cont-item img {
    width: 87px;
    height: 65px;
  }
  #container14 .footer {
    padding: 15px 0;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  #container14-size {
    text-align: center;
  }
  #container14-size .mogo-cont {
    width: 364px;
    display: block;
    margin: 25px auto;
    padding-right: 0;
  }
  #container14-size .blogs-cont {
    width: 300px;
    display: block;
    margin: 25px auto;
    height: 364px;
    padding-right: 0;
    text-align: left;
  }
  #container14-size .instagram-cont {
    width: 300px;
    display: block;
    margin: 25px auto;
  }
  #container14-size .instagram-cont-img img {
    width: 32%;
  }
  #container14-size .instagram-cont .hide {
    display: inline-block;
  }
}

@media screen and (max-width: 992px) {
  #container14-size {
    width: 95%;
  }
  #container14-size .mogo-cont {
    width: 90%;
  }
  #container14-size .blogs-cont {
    width: 90%;
  }
  #container14-size .instagram-cont {
    width: 90%;
  }
}

@media screen and (max-width: 494px) {
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 14px;
  }
  #container14-size .mogo-cont .soc-p {
    text-align: left;
  }
  #container14-size .mogo-cont .soc-p span {
    margin-right: 5px;
  }
  #container14-size .mogo-cont .soc-p span:first-child {
    margin-left: 5px;
  }
  #container14-size .mogo-cont .sub-input input {
    width: 100%;
    margin-left: 0;
  }
  #container14-size .blogs-cont .blog-content {
    width: 68%;
  }
  #container14-size .blogs-cont .blog-content h6 {
    line-height: 15px;
  }
}

body {
  background-color: #ffffff;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 72px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 14px;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 24px;
}

input {
  border: 1px solid #e7e7e7;
  padding: 10px;
}

::placeholder {
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}

input[type="submit"] {
  background-color: #95e1d3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-left: -5px;
}

ul {
  width: 100%;
  height: 100%;
  position: relative;
}

ul li {
  display: inline-block;
}

ul li img {
  width: 20px;
  height: 17px;
}

.inline {
  display: inline-block;
  margin-right: 5px;
}

.inline span {
  margin-right: 8px;
}

.inline span img {
  vertical-align: middle;
}

.italic {
  font-weight: 300;
  font-style: italic;
}

.clear {
  clear: both;
}
/*# sourceMappingURL=style.css.map */